{% extends "index_template.html" %}
{% block article_list %}
<ol id="post-list">
  {% for article in articles_page.object_list %}
  {% if article.category == 'frontpage' %}
  <li>
  <article class="hentry">
    <header>
      <h3 class="entry-title">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
      </h3>
    </header>
    <!-- /.post-info -->
    <div class="entry-content"> {{ article.content }} </div>
    <!-- /.entry-content -->
  </article>
  </li>
  {% endif %}
  {% endfor %}
</ol>
<!-- /#posts-list -->
{% endblock article_list %}
